.card {
    max-height: 75vh;
    position: relative;
}

.card__img {
    height: 75vh;
    width:475px;
    object-fit: cover;
}
.card__link {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);

    border: 1px solid white;
    box-shadow: 0 0 20px white ;

    padding: 50px;
    border-radius: 100%;
}

.text {
    color: white;
    position: absolute;
}

